language: node_js
node_js:
  - 14
sudo: required
services:
  - docker

before_install: 
  - docker build -t karthik/docker -f Dockerfile.dev .

script:
  - docker run -e CI=true stephengrider/docker-react npm run test

deploy:
 provider: elasticbeanstalk
 region: "ap-south-1"
 app: "dockerReact"
 env: "Dockerreact-env"
 bucket_name: "elasticbeanstalk-ap-south-1-907470763413"
 bucket_path: "dockerReact"
 on:
  branch: master 
 access_key_id: $AWS_ACCESS_KEY
 secret_access_key: $AWS_SECRET_KEY